<div id="<%= dom_id booking %>">
  <p>
    <strong>User name:</strong>
    <%= booking.user_name %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= booking.user_email %>
  </p>

  <p>
    <strong>User contact:</strong>
    <%= booking.user_contact %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking.description %>
  </p>

  <p>
    <strong>Timeslot:</strong>
    <%= booking.timeslot_id %>
  </p>

</div>
